fastapi==0.104.1
uvicorn==0.24.0
PyMuPDF==1.24.1
pdfplumber==0.11.0
langchain-text-splitters==0.2.4
sentence-transformers==2.3.1
chromadb==0.4.22
groq==0.4.2
python-multipart==0.0.9
python-dotenv==1.0.1
pydantic==2.6.1
pydantic-settings==2.2.1
numpy==1.26.4
